body {
    text-align: center;
    background-color: #000;
    margin-top: 200px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .gallery-item {
    background-color: lightgray;
    background: url(../Zadatak - responsive galerija/);
}